*,
*::after,
*::before{
    box-sizing: border-box;
}

#display {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 1.5em;
}

#img_container {
    text-align: center;
}

#img_container img {
    width: 200px;
    margin-inline: auto;
}